{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": [1, { "forbid": ["any"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [],
  "globals": {
    "window": true,
    "document": true,
    "it": true,
    "expect": true,
    "fail": true,
    "fetch": true,
    "sessionStorage": true,
    "setInterval": true,
    "clearInterval": true
  }
}
